<form action="/artist-search" method="GET">
  <label for="artistName">
    <input id="artistName" type="text" name="artist" />
    {{! <input
      id="artist-name"
      name="artist"
      type="text"
      value=""
      placeholder="Name of an Artist"
    /> }}
  </label>
  <button type="submit"> search for an artist </button>
</form>